body{
    margin: 0;
    padding: 0;
}


#logo{
    width: 133px;
    height: 56px;
    background-image: url("img/LogoFull.png");
}
.la{
    height: 45px;
    color: white;
    font-family: Cabin;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    background: linear-gradient(273.81deg, #084388 75.26%, #6B8EB8 100%);
    border-radius: 12px;
    font-size: 13px;
    margin-top: 28px;
    margin-left: 400px;
}
.sa{
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: #383F47;
    margin-top: 30px;
}

.call{
    font-style: normal;
    font-weight: 500;
    color: #646D84;
    margin-bottom: 7px;
    
}
.me{
    margin-top: 10px;
    margin-bottom: 1px;
}
.tr{
    margin-bottom: 6px;
}
.lalisa{
    background: #ECEDF1;
    border-radius: 12px;
    padding: 16px;
    color: #646D84;
}
.li{
    margin-top: 28px;
}

.v{
    background: #F39B13;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    color: white;
    margin-top: 24px;
    padding: 11px 24px;
}

.ve{
    color: #0091FE;
    margin-top: 19px;
}
.love{
    font-size: 13px;
    font-family: Cabin;
    line-height: 24px;
    color: #383F47;
    margin-bottom: 1px;
}
.say{
   
    text-decoration-line: blink;
    color: #084388;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.m{
    font-weight: 600;
    font-size: 15px;
    color: #084388;
}
.on{
    font-size: 24px;
    color: #383F47;
    font-weight: 500;
    margin-left: 18px;
}
.e{
    font-weight: 500;
    font-size: 18px;
    color: #084388;
    line-height: 50px;
}
.n{
    font-weight: 500;
    font-size: 18px;
    color: #9399A9;
    line-height: 50px;
}
::placeholder {
    color: black;
  }
.money{
    background: #FFFFFF;
    border: 1px solid #084388;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    border-radius: 12px;
    color: #084388;
    font-weight: 500;
    font-size: 14px;
    margin-left: 17px;
}

.s{
    border-radius: 13px;
    width: 470px;
    margin-left: 100px;
}
p{
    font-family: 'Cabin', sans-serif;
}
label{
    font-family: 'Cabin', sans-serif;
}
.trap{
    color: #383F47;
    margin-left: 59px;
    padding: 1px 50px;
}
.so{
    color: #0091FE;
   
}
.kim{
    height: 43px;
    width: 299px;
    border: 1px;
    border-radius: 13px;
}
.khok{
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 13px;
    
}
.o{
    border: 1px ;
    height: 43px;
    border-radius: 13px;
}

.hi{
    font-size: 13px;
    line-height: 26px;
    font-family: Cabin;
   
}
.phut{
    margin-top: 30px;
    max-width: 85%;
    margin-left: 30px;
}
.giay{
    margin-top: 20px;
    max-width: 72%;
    margin-left: 50px;
}
.ngay{
    padding: 1px 40px;
    font-size: 14px;
}
.thang{
    margin-top: 12px;
    max-width: 72%;
    margin-left: 50px;
}
.nam{
    margin-left: 110px;
    margin-top: 17px;
    color: #9399A9;
}
.tich{
    margin-left: 110px;
    color: #9399A9;
}
.tac{
    margin-top: 46px;
    margin-bottom: 20px;
    max-width: 72%;
    margin-left: 72px;
}
.lili{
    margin-left: 36px;
    color: #9399A9;
}
.leo{
    margin-top: 10px;
    max-width: 72%;
    margin-bottom: 14px;
    margin-left: 63px;
}
.cat{
    margin-left: 63px;
    margin-top: 3px;
    max-width: 72%;
}
.lucas{
    border-left: 1px solid rgb(206, 217, 231);
    margin-top: 100px;
    margin-left: 68px;
}
.lous{
    padding-left: 100px;
}
.bg{
    font-family: cabin;
    background-image: url("img/background.png") ;
    background-repeat:repeat-x;
    background-position: bottom;
    padding-bottom: 193px;
    background-color: #F9FAFC;
}
.louis{
    height: 40px;
    color: #F39B13;
    background: #F8E7CD;
    border-radius: 12px;
    font-size: 13px;
    margin-top: 28px;
    margin-left: 338px;
    border: 1px solid #F39B13;
    
}
.ph{
    margin-right: 3px;
}
.mo{
    line-height: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.mox2{
    font-size: 24px;
    color: #232731;
    margin-top: 60px;
    margin-bottom: 40px;
}
.land{
    font-weight: 600;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.nan{
    color: #084388;
    text-decoration-line: blink;
}
.cy{
    color: #646D84;
    margin-top: 30px;
}
.rosie{
    border-radius: 12px;
    margin-top: 10px;
}
.rose{
    color: #F39B13;
    background: #FDEBD0;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    font-size: 25px;
}
.park{
    padding-left: 16px;
    padding-right: 16px;
}
.bus{
    max-width: 131%;
}
.c{
    position: relative;
    margin-top: 20px;
    bottom: 45px;
    
}
.u{
    background: white;
    padding-bottom: 22px;
    padding-left: 22px;
    box-shadow: 0px 1px 7px rgb(0 0 0 / 5%);
    border-radius: 12px;
    margin-left: 95px;
    margin-top: 51px;
}
.t{
    color: #084388;
    font-weight: 600;
    font-size: 24px;
}
.ee{
    color: #646D84;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#F9FAFC;
    color: #084388;
    font-size: 18px;
    width: 242px;
    margin-bottom: 15px;
    border-left: 2px solid #F39B13;
    border-radius: initial;
}
.nav-link {
    color: #9399A9;
    font-size: 18px;
    width: 240px;
    text-align: left;
    margin-bottom: 15px;
}
.an{
    margin-right: 150px;
    margin-top: 177px;
    padding-right: 12px;
}
.nhon{
    margin-top: 158px;
}
.ha{
    margin-top: 109px;
    margin-bottom: 30px;
}
.xe{
    padding-left: 16px;
    padding-right: 16px;
}
.ic{
    margin-right: 10px;
    color: #084388;
}
.ohhh{
    background: white;
    border: 1px solid #CFD3DB;
    border-radius: 12px;
    color: #464D5D;
    margin-top: 24px;
    padding: 11px 24px;
}
.come{
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .sa{
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        color: red;
        margin-top: 30px;
    }
}
.co{
    color: #C80013;
}
.lor{
    margin-top: 100px;
    margin-left: 31px;
}
.black{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 280px;
}
.pink{
    font-size: 40px;
    color: #084388;
    margin-top: 160px;
}
.in{
    font-size: 18px;
    margin-right: 137px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.your{
    width: 57%;
}
.hey{
    list-style-type: none;
}
.dor{
    color: #646D84;
    background: #00C48C;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
}
.lar{
    font-size: 20px;
    margin-left: 18px;
    color: #232731;
    text-decoration: auto;
    margin-right: 100px;
}
.bill{
    margin-top: 37px;
    border: 1px solid #CFD3DB;
    border-radius: 16px;
}
.nex{
    color: #F39B13;
}
.chu{
    color: #5C9CFE;
    padding-left: 20px;
}
.keep{
    background: #F1F3F5;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    border-radius: 14px;
    border: 1px solid #CFD3DB;
}
.up{
    font-size: larger;
    color: #49D193;
    margin-left: 22px;
    margin-right: 8px;
    margin-top: 11px;
    margin-bottom: 10px;
}
.down{
    padding: 1px 16px;
    margin-left: 7px;
}
.car{
    color: #084388;
    font-weight: 600;
    text-decoration: auto;
}
.di{
    color: #5C9CFE;
   padding-left: 20px;
   border-bottom: inset 1px #CFD3DB;
}
.bi{
    color: #F39B13;
}
.just{
    color: #0091FE;
}
.baby{
    margin-top: 30px;
    width: 304px;
}
.only{
    margin-top: 38px;
    width: 101%;
}
.frv{
    width: 90px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.luv{
    font-size: 24px;
    padding-left: 36px;
    margin-top: 11px;
}
.fan{
    border: 2px solid #0091FE;
    border-radius: 12px;
    margin-left: 1px;
    margin-top: 20px;
}
.young{
    width: 147px;
    height: 25px;
    background: #CCE9FF;
    color: #084388;
    margin-top: 13px;
    border-radius: 6px;
}
.inve{
    font-size: 21px;
    color: white;
    background: #0091FE;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 11px;
    border-radius: 7px;
    margin-left: 135%;
}
.ver{
    padding-left: 37px;
    color: #646D84;
}
.rain{
    font-size: 24px;
    color: #F1F3F5;
    background: #F39B13;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
}
.bow{
    background: #F9FAFC;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 23%;
    border-radius: 11px;
    border: 1px solid #CFD3DB;
}
.mui{
    font-size: 24px;
    color: #F39B13;
    margin-right: 15px;
}
.brg{
    background: #F1F3F5;
    width: 100%;
    margin-left: 0px;
    border-radius: 14px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.ten{
    color: #646D84;
}
.kam{
    border: 1px solid #CFD3DB;
    border-radius: 14px;
    width: 101%;
    margin-top: 22px;
}

.hag{
    margin-left: 6px;
    margin-right: 6px;
}
.tag{
    font-size: 24px;
    margin-left: 29px;
}
.oli{
    font-size: 14px;
    margin-left: 29px;
    color: #5C9CFE;
}
.youuu{
    color: #464D5D;
}
.cause{
    font-size: 24px;
    margin-left: 8px;
}
.app{
    margin-left: 18px;
    text-align: -webkit-center;
}
.cach{
    margin-top: 16px;
}
.dong{
    font-size: 24px;
    color: #00C48C;
}
hr.new1 {
    border-top: 1px solid gray;
    width: 93%;
    margin-left: 25px;
}
.hun{
    color: #F39B13;
    font-size: 24px;
    margin-right: 15px;
    margin-left: 15px;
}
.gry{
    background: #C4DBFE;
    color: #084388;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.doi{
    color: #646D84;
    background: white;
    font-size: 18px;
    margin-right: 15px;
    margin-left: 80px;
}
.vai{
    width: 100%;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.het{
    padding-left: 50px;
}
.drui{
    padding-left: 30px;
}
.sap{
    padding-left: 35px;
}
.troi{
    font-size: 18px;
    padding-left: 44px;
    margin-top: 18px;
}
.toi{
    padding-left: 42px;
}
.rui{
    color: #084388;
    padding-left: 42px;
    margin-top: 15px;
}
.night{
    padding: 1px 42px;
    
}
.to{
    padding: 1px 24px;
}
.toni{
    margin-left: 42px;
    width: 100%;
    margin-top: 6px;
    height: 90%;
}
.yeh{
    color: #646D84;
}
.next{
    color: #084388;
    font-weight: 600;
}
.level{
    margin-top: 20px;
}
.nstt{
    background: #F9FAFC;
    width: 20px;
    border: 1px solid #F9FAFC;
    margin-left: 35px;
}
.lanh{
    padding-left: 15px;
}
.tke{
    font-size: 20px;
    color: #646D84;
}
.hic{
}
.chuan{
}