body{
    margin: 0;
    padding: 0;
}
.blinks{
    width: 100%;
    background-image: url("img/footer_background.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -140px;
}

#logo{
    width: 133px;
    height: 56px;
    background-image: url("img/LogoFull.png");
}
.la{
    width: 165px;
    height: 45px;
    color: white;
    font-family: Cabin;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    background: linear-gradient(273.81deg, #084388 75.26%, #6B8EB8 100%);
    border-radius: 12px;
    margin-left: 44vh;
    margin-top: 23px;
    font-size: 14px;
}
.li{
    margin-top: 23px;
}
.sa{
    height: 49px;
    left: 160px;
    top: 128px;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 49px;
    color: #383F47;
    margin-top: 38px;
}
.lisa{
    margin-left: 20px;
    height: 45px;
    background: white;
    margin-top: 12px;
    width: 209px;
    border-radius: 12px;
}
.call{
    margin-left: 10px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    color: #646D84;
}
.me{
    margin-top: 14px;
}
.lalisa{
    background: #CED9E7;
    max-width: 250px;
    border-radius: 12px;
    margin-left: 3px;
    
}

.o{
    width: 206px;
    border: 1px ;
    margin-left: -11px;
    height: 43px;
    margin-top: -6px;
    border-radius: 13px;
}
.v{
    width: 132px;
    height: 56px;
    background: #F39B13;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    color: white;
    margin-top: 19px;
}
.lo{
    margin-top: -24px;
    margin-left: 337px;
}
.ve{
    color: #0091FE;
    margin-top: 10px;
}
.love{
    font-size: 13px;
    font-family: Cabin;
    margin-top: 2px;
    line-height: 24px;
    color: #383F47;
    width: 240px;
}
.say{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration-line: blink;
    color: #084388;
    font-weight: 600;
}

.m{
    font-weight: 600;
    font-size: 16px;
    color: #084388;
}
.on{
    font-size: 24px;
    color: #383F47;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 120px;
}
.e{
    font-weight: 500;
    font-size: 18px;
    color: #084388;
    
}
.n{
    font-weight: 500;
    font-size: 18px;
    color: #9399A9;
    margin-top: 20px;
}
.ee{
    width: 250px;
}

  
::placeholder {
    color: black;
  }
.money{
    width: 147px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #084388;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    border-radius: 12px;
    color: #084388;
    font-weight: 500;
    font-size: 16px;
    margin-top: 50px;
}
.ac{
    margin-left: 450px;
    margin-top: -580px;
}
.s{
    border-radius: 13px;
    width: 470px;
    margin-left: -180px;
    margin-top: 120px;
}
p{
    font-family: 'Cabin', sans-serif;
    width: 330px;
}
.trap{
    width: 450px;
    margin-left: -170px;
    margin-top: 13px;
    color: #383F47;
}
.so{
    color: #0091FE;
    margin-left: 139vh;
}
.kim{
    height: 43px;
    margin-top: -6px;
    margin-left: -11px;
    width: 299px;
    border: 1px;
    border-radius: 13px;
}
.khok{
    font-size: 13px;
    line-height: 26px;
    margin-top: -19px;
    
}
.tg{
    width: 204px;
    margin-left: -10px;
    height: 39px;
    margin-top: -5px;
    border-radius: 13px;
    border: 1px;
}
.cute{
    margin-bottom: 26px;
}
.hi{
    font-size: 13px;
    line-height: 26px;
    font-family: Cabin;
    margin-top: 20px;
    margin-left: -12px;color: #383F47;
}
.bg{
    background: #E5E5E5;
    color: rgb(170, 162, 162);
}
.vl {
    border-left: 2px solid #CED9E7;
    height: 590px;
    margin-left: 640px;
    margin-top: -650px;
  }